@{ 
    ViewBag.Title = "About Page";
}
<div class="text-center">
    <h2>About <em>My World</em></h2>
    <p>
        This web application allows you to plan you trip across the world.
    </p>
    <pre class="text-justify">
        It's an example Asp.Net Core Web Application.

        <i><u>Created by:</u></i> <b><a href="https://usamahaq.wordpress.com">"Usama Haq"</a></b>, while learning the following course:

        <b><u>Course Details</u></b>
        <i>Course Name:</i> <a href="https://www.pluralsight.com/courses/aspdotnetcore-efcore-bootstrap-angular-web-app">"Building a Web App with ASP.NET Core, MVC 6, EF Core, and Angular"</a>
        <i>Course Author:</i> <a href="https://www.pluralsight.com/authors/shawn-wildermuth">"Shawn Wildermuth"</a>
        <i>Platform:</i> <a href="https://www.pluralsight.com/">"Pluralsight"</a>

        <em>You can find source code for this application on <a href="https://github.com/usama-haq/aspnetcore_my-world">GitHub</a>.</em></pre>
</div>