@{
    ViewBag.Title = "Home Page";
}


<h1> Hello! form HTML file.... </h1>
<p>This will be fun website woon!</p>

<form>
    <div>
        <label>Date</label>
        <input type="text" />
    </div>
    <div>
        <label>Location</label>
        <input type="text" />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>

