@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/default.css" />
</head>
<body>

    <div id="sidebar">
        <!-- =============================== SideBar: Begin =============================== -->
        <img src="img/usama-haq-foto.64x64.jpg" alt="headshot" class="headshot" />
        <span id="username">Usama Haq</span>

        <ul class="menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!-- =============================== SideBar: End =============================== -->
    </div>
    <div id="wrapper">
        <div id="main">
            <!-- =============================== Main Content: Begin =============================== -->
            <button id="sideBarToggleButton">Hide Sidebar</button>
            <h1> Hello! form HTML file.... </h1>
            <p>This will be fun website woon!</p>

            <form>
                <div>
                    <label>Date</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Location</label>
                    <input type="text" />
                </div>
                <div>
                    <input type="submit" value="Add" />
                </div>
            </form>

            <!-- =============================== Main Content: End =============================== -->
        </div>

        <div id="footer">
            <!-- =============================== Footer: Begin =============================== -->
            &copy; 2017 The World Ltd.
            <!-- =============================== Footer: End =============================== -->
        </div>
    </div>

    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/default.js"></script>
</body>
</html>