@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="text-center" >
        <h1>Welcome! to <em>My World</em></h1>
        <p>This app will allow you to plan for world trips</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-info">View My Trips</a>
    </div>
</div>