<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awsome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/default.css" />
    <title>@ViewBag.Title - My World</title>
</head>
<body>

    <div id="sidebar">
        <!-- =============================== SideBar: Begin =============================== -->
        <img src="~/img/usama-haq-foto.64x64.jpg" alt="headshot" class="headshot" />
        <span id="username">Usama Haq</span>

        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
        <!-- =============================== SideBar: End =============================== -->
    </div>
    <div id="wrapper">
        <div id="main">
            <!-- =============================== Main Content: Begin =============================== -->
            <div>
                <button id="sideBarToggleButton" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            <div>
                @RenderBody()
            </div>
            <!-- =============================== Main Content: End =============================== -->
        </div>

        <footer id="footer">
            <!-- =============================== Footer: Begin =============================== -->
            <p class="text-primary">
                &copy; 2017 The World Ltd.
            </p>
            <!-- =============================== Footer: End =============================== -->
        </footer>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("validationScripts", false)
    <script type="text/javascript" src="~/js/default.js"></script>
</body>
</html>