<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/default.css" />
    <title>@ViewBag.Title - My World</title>
</head>
<body>

    <div id="sidebar">
        <!-- =============================== SideBar: Begin =============================== -->
        <img src="img/usama-haq-foto.64x64.jpg" alt="headshot" class="headshot" />
        <span id="username">Usama Haq</span>

        <ul class="menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!-- =============================== SideBar: End =============================== -->
    </div>
    <div id="wrapper">
        <div id="main">
            <!-- =============================== Main Content: Begin =============================== -->
            <div>
                <button id="sideBarToggleButton">Hide Sidebar</button>
            </div>
            <div>
                @RenderBody()
            </div>
            <!-- =============================== Main Content: End =============================== -->
        </div>

        <div id="footer">
            <!-- =============================== Footer: Begin =============================== -->
            &copy; 2017 The World Ltd.
            <!-- =============================== Footer: End =============================== -->
        </div>
    </div>

    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/default.js"></script>
</body>
</html>